<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div style="background-color:#f2f2f2; padding:25px">
		<div style="float:right; margin-top:-17px; margin-right:10px; margin-left:10px">
				<h4 th:text="#{lang.change}" style="margin-bottom:-10px">Promeni Jezik</h4>
			<ul>
				<li><a href="knjige/menjajLokalizacijuNaSrpski" th:text="#{lang.sr}">Srpski</a></li>
				<li><a href="knjige/menjajLokalizacijuNaEngleski" th:text="#{lang.eng}">Engleski</a></li>
			</ul>
		</div>
		<a href="/knjizara/" th:text="#{lang.home}">Pocetna</a><br>
		<a href="/knjizara/login.html" style="float:right;margin:4px; margin-top:-16px" th:text="#{lang.login}" th:if="${session.prijavljeniKorisnik == null}">Prijava</a>
		<a href="/knjizara/cart" style="float:right;margin:4px; margin-top:-16px" th:text="#{lang.card}" th:if="${session.prijavljeniKorisnik != null  and session.prijavljeniKorisnik.administrator == false}">Korpa</a>
		<a href="/knjizara/register.html" style="float:right; margin:4px; margin-top:-16px" th:text="#{lang.registration}" th:if="${session.prijavljeniKorisnik == null}">Registracije</a>
		<a href="korisnici/Logout" style="float:right;margin:4px; margin-top:-16px" th:text="#{lang.logout}" th:unless="${session.prijavljeniKorisnik == null}">Odjava</a>
		<a href="/knjizara/knjige" th:text="#{lang.books}" th:if="${session.prijavljeniKorisnik != null}">Knjige</a><br>
		<a href="/knjizara/addBook.html" th:text="#{lang.addBook}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}">Dodaj Knjigu</a><br>
		<a href="/knjizara/loyaltyKartica/generisiKarticu" th:text="#{lang.requestCard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator != true}">Generisi Loyalty Karticu</a><br>
		<a href="/knjizara/Izvestaj" th:text="#{lang.report}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}">Izvestaj</a><br>
		<a href="/knjizara/korisnici" th:text="#{lang.users}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}">Korisnici</a><br>
		<a href="/knjizara/loyaltyKartica" th:text="#{lang.lcard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}">Loyalty Kartice</a><br>
		<a href="/knjizara/Komentari" th:text="#{lang.comments}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}">Komentari</a><br>
	</div> 

<h2>Dodaj Knjigu</h2>


<form action="knjige/Create" method ="POST" enctype="multipart/form-data">
  		<label for="naziv">Naziv:</label><br>
  		<input type="text" id="naziv" name="naziv" placeholder="Naziv"><br>
  		<label for="isbn">ISBN:</label><br>
  		<input type="text" id="isbn" name="isbn" placeholder="ISBN" maxlength="13" size="13"><br><br>
        <label for="izdavackaKuca">Izdavacka Kuca:</label><br>
  		<input type="text" id="iuca" name="izdavackaKuca" placeholder="Izdavacka Kuca"><br>
  		<label for="autor">Autor:</label><br>
  		<input type="text" id="autor" name="autor" placeholder="Autor"><br><br>
  		<label for="opis">Opis:</label><br>
  		<input type="text" id="opis" name="opis" placeholder="Opis"><br>
  		<label for="brStrana">Broj Strana:</label><br>
  		<input type="number" id="brStrana" name="brStrana" placeholder="Broj Strana"><br>
  		
  		<label for="kolicina">Kolicina:</label><br>
  		<input type="number" id="kolicina" name="kolicina" placeholder="Kolicina"><br>
  		
  		 <label for="cena">Cena:</label><br>
  		<input type="number" id="cena" name="cena" placeholder="Cena"><br>

  		
  		<label for="jezik">Jezik:</label><br>
  		<input type="text" id="jezik" name="jezik" placeholder="Jezik"><br>
  		
  		<label for="radio">Povez:</label><br>
  		<input type="radio" id="Meki" name="povez" value="Meki">
  		<label for="Meki">Meki</label>
  		<input type="radio" id="tvrdi" name="povez" value="Tvrdi">
  		<label for="Tvrdi">Tvrdi</label><br><br>
  		
  		<label for="radio">Pismo:</label><br>
  		<input type="radio" id="latinica" name="pismo" value="latinica">
  		<label for="latinica">Latinica</label>
  		<input type="radio" id="cirilica" name="pismo" value="Cirilica">
  		<label for="cirilica">Cirilica</label><br><br>
  		
  		<label>Slika: </label>
    	<input type="file" name="slika"/>


  
  
  <input type="submit" value="Submit">
</form> 


</body>
</html>