<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
	.card{
		border: 1px solid red;
		margin: 5px;
		padding: 5px;
	}
</style>

</head>

<body>
	<div style="background-color:#f2f2f2; padding:25px">
		<div style="float:right; margin-top:-17px; margin-right:10px; margin-left:10px">
				<h4 th:text="#{lang.change}" style="margin-bottom:-10px"></h4>
			<ul>
				<li><a href="cart/menjajLokalizacijuNaSrpski" th:text="#{lang.sr}"></a></li>
				<li><a href="cart/menjajLokalizacijuNaEngleski" th:text="#{lang.eng}"></a></li>
			</ul>
		</div>
		<a href="/knjizara/" th:text="#{lang.home}"></a><br>
		<a href="/knjizara/login.html" style="float:right;margin:4px" th:text="#{lang.login}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/cart" style="float:right;margin:4px" th:text="#{lang.card}" th:if="${session.prijavljeniKorisnik != null  and session.prijavljeniKorisnik.administrator == false}"></a>
		<a href="/knjizara/register.html" style="float:right; margin:4px" th:text="#{lang.registration}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="korisnici/Logout" style="float:right;margin:4px" th:text="#{lang.logout}" th:unless="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/knjige" th:text="#{lang.books}" th:if="${session.prijavljeniKorisnik != null}"></a><br>
		<a href="/knjizara/addBook.html" th:text="#{lang.addBook}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica/generisiKarticu" th:text="#{lang.requestCard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator != true}"></a><br>
		<a href="/knjizara/Izvestaj" th:text="#{lang.report}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/korisnici" th:text="#{lang.users}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica" th:text="#{lang.lcard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/Komentari" th:text="#{lang.comments}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
	</div>


<div class="container">
	<div th:if="${!products.isEmpty()}" class="shoping-cards">
        	<h2>Soping Korpa</h2>
  			<form action="cart/order" method ="POST">
		        <div class="card" th:each="product : ${products.entrySet()}">
		            <h3 th:text="${product.getKey().getNaziv()}"></h3>
					<p th:text="${product.getKey().getAutor()}"></p>
		            <h4 th:text="${product.getValue()}"></h4>
		            <h4 th:text="${product.getKey().getCena()}"></h4>
		            <input type="hidden" name="id" th:value="${product.getKey().getId()}"/>
		            
		            
		            <a th:href="@{'/cart/remove/{id}'(id=${product.getKey().getId()})}" class="col-md-1">
		                <button type="button" class="btn btn-primary" th:text="Ukloni"></button>
		            </a>
		                
		                <br>
		        </div>
		        <input type="submit" value="Submit">
    		</form>

	 </div>
	
	    <div th:if="${products.isEmpty()}" class="col-3">
	        <h2>Nema Artikala</h2>
	    </div>
	
	    <br>
	    <a th:href="@{'/cart/clear/'}" class="col-md-1">
	        <button type="button" class="btn btn-info" th:text="Ukloni"></button>
	    </a>
	
	    <br>
	    <div class="row">
	        <h3 th:text="Ukupno + ' ' + ${totalPrice}"></h3>
	       <!--   <a th:href="@{'/cart/order'}" class="col-md-1">
	            <button type="button" class="btn btn-success" th:text="Poruci"></button>
	        </a>-->
        
    	</div>

</div>


</body>

</html>