<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<script src="js/lokacijaJS.js"></script>

	<title th:text="#{index.pageTitle}">Pocetna</title>
</head>
<body>
	<div style="background-color:#f2f2f2; padding:25px">
		<div style="float:right; margin-top:-17px; margin-right:10px; margin-left:10px">
				<h4 th:text="#{lang.change}" style="margin-bottom:-10px"></h4>
			<ul>
				<li><a href="index/menjajLokalizacijuNaSrpski" th:text="#{lang.sr}"></a></li>
				<li><a href="index/menjajLokalizacijuNaEngleski" th:text="#{lang.eng}"></a></li>
			</ul>
		</div>
		<a href="/knjizara/" th:text="#{lang.home}"></a><br>
		<a href="/knjizara/login.html" style="float:right;margin:4px; margin-top:-16px" th:text="#{lang.login}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/cart" style="float:right;margin:4px; margin-top:-16px" th:text="#{lang.card}" th:if="${session.prijavljeniKorisnik != null  and session.prijavljeniKorisnik.administrator == false}"></a>
		<a href="/knjizara/register.html" style="float:right; margin:4px; margin-top:-16px" th:text="#{lang.registration}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="korisnici/Logout" style="float:right;margin:4px; margin-top:-16px" th:text="#{lang.logout}" th:unless="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/knjige" th:text="#{lang.books}" th:if="${session.prijavljeniKorisnik != null}"></a><br>
		<a href="/knjizara/addBook.html" th:text="#{lang.addBook}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica/generisiKarticu" th:text="#{lang.requestCard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator != true}"></a><br>
		<a href="/knjizara/Izvestaj" th:text="#{lang.report}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/korisnici" th:text="#{lang.users}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica" th:text="#{lang.lcard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/Komentari" th:text="#{lang.comments}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
	</div>
	



	
	<div style="margin:auto; width:100%">
		<img th:src="|knjige/getImage/bookstore.jpg|" width=930px style="display:block; margin-left:auto;margin-right:auto; width:76%; margin-top:70px"/>
	</div>




	
</body>
</html>



























<!-- 	<div th:fragment="centralniDiv">
		<form method="get">
			<table class="tabela">
				<caption>Projekcije</caption>
				<tr>
					<th>r. br.</th>
					<th>datum i vreme</th>
					<th>film</th>
					<th>tip</th>
					<th>sala</th>
					<th>cena karte</th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th>
						od:<input type="date" th:value="${param.datumOd?: '2020-01-01'}" name="datumOd"/><input type="time" th:value="${param.vremeOd?: '08:00'}" name="vremeOd"/><br/>
						do:<input type="date" th:value="${param.datumDo?: '3000-01-01'}" name="datumDo"/><input type="time" th:value="${param.vremeDo?: '23:00'}"  name="vremeDo"/>
					</th>
					<th>
						<select name="filmId">
							<option value="">odaberi</option>
							<option th:each="itFilm: ${filmovi}" th:value="${itFilm.id}" th:text="${itFilm.naziv}" th:selected="${#strings.equals(itFilm.id, param.filmId)}"></option>
						</select>
					</th>
					<th>
						<select name="tip">
							<option value="">odaberi</option>
							<option value="2D" th:selected="${#strings.equals(param.tip, '2D')}">2D</option>
							<option value="3D" th:selected="${#strings.equals(param.tip, '3D')}">3D</option>
							<option value="4D" th:selected="${#strings.equals(param.tip, '4D')}">4D</option>
						</select>
					</th>
					<th><input type="number" th:value="${param.sala?: ''}" min="1" name="sala"/></th>
					<th>
						od:<input type="number" th:value="${param.cenaKarteOd?: '0.0'}" min="0" step="0.1" name="cenaKarteOd"/><br/>
						do:<input type="number" th:value="${param.cenaKarteDo?: '1000.0'}" min="0" step="0.1" name="cenaKarteDo"/>
					</th>
					<th><input type="submit" value="Pretraži"/></th>
				</tr>
				<tr th:each="knjiga, status: ${knjige}">
					<td class="broj" th:value="${status.index}"></td>
					<td><a th:href="|knjige/details?id=${knjiga.id}|" th:text="${knjiga.naziv}"></a></td>
					<td th:text="${itProjekcija.tip}"></td>
					<td class="broj" th:text="${itProjekcija.sala}"></td>
					<td class="broj" th:text="|${itProjekcija.cenaKarte} rsd|"></td>
					<td></td>
				</tr>
			</table>
		</form>
		<ul>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Projekcije/Create">dodavanje projekcije</a></li>
		</ul>
	</div> -->
</body>
</html>