<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<title>Loyalty</title>
	
	<style>
	html, body{
    	height:100%;
    	width:100%;
    	padding:0;
    	margin:0;
	}
	table{
  		font-family: Arial, Helvetica, sans-serif;
  		width: 100%;
  		margin:0 auto;
		}

	td, th {
  		border: 1px solid #ddd;
 		padding: 8px;
	}

	tr:nth-child(even){background-color: #f2f2f2;}

	tr:hover {background-color: #ddd;}

	th {
  		padding-top: 12px;
  		padding-bottom: 12px;
  		text-align: left;
  		background-color: #4CAF50;
  		color: white;
	}
	input[type=number]{
		width:60px;
	}
</style>
	
</head>
<body>
	<div style="background-color:#f2f2f2; padding:25px">
		<div style="float:right; margin-top:-17px; margin-right:10px; margin-left:10px">
				<h4 th:text="#{lang.change}" style="margin-bottom:-10px"></h4>
			<ul>
				<li><a href="Izvestaj/menjajLokalizacijuNaSrpski" th:text="#{lang.sr}"></a></li>
				<li><a href="Izvestaj/menjajLokalizacijuNaEngleski" th:text="#{lang.eng}"></a></li>
			</ul>
		</div>
		<a href="/knjizara/" th:text="#{lang.home}"></a><br>
		<a href="/knjizara/login.html" style="float:right;margin:4px" th:text="#{lang.login}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/cart" style="float:right;margin:4px" th:text="#{lang.card}" th:if="${session.prijavljeniKorisnik != null  and session.prijavljeniKorisnik.administrator == false}"></a>
		<a href="/knjizara/register.html" style="float:right; margin:4px" th:text="#{lang.registration}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="korisnici/Logout" style="float:right;margin:4px" th:text="#{lang.logout}" th:unless="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/knjige" th:text="#{lang.books}" th:if="${session.prijavljeniKorisnik != null}"></a><br>
		<a href="/knjizara/addBook.html" th:text="#{lang.addBook}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica/generisiKarticu" th:text="#{lang.requestCard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator != true}"></a><br>
		<a href="/knjizara/Izvestaj" th:text="#{lang.report}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/korisnici" th:text="#{lang.users}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica" th:text="#{lang.lcard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/Komentari" th:text="#{lang.comments}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
	</div>


	<form method="POST" action="#" th:action="@{loyaltyKartica/accept}">

		
		<table id="tabela">
			<tr>
				<th th:text="#{stavkakorpe.nazivKnjige}">Naziv</th>
				<th th:text="#{stavkakorpe.autorKnjige}"></th>
				<th>Broj Prodatih Primeraka</th>
				<th th:text="#{stavkakorpe.ukupnaCena}">Akcija</th>
			</tr>
						<td>Od:<input type="date" value="01-01-1021" name="datumKupovineOd"/></td><br/>
						<td>Do:<input type="date" value="01-01-9021" name="datumKupovineDo"/></td>
			
			<tr>
			
			</tr>

				<tr th:each="itKupovina, status: ${kupovine}">
					<td><a th:href="|Knjige/Details?naziv=${itKupovina.knjiga.naziv}|"th:text="${itKupovina.knjiga.naziv}"></a></td>
					<td th:text="${itKupovina.knjiga.autor}"></td>
					<td class="broj" th:text="${itKupovina.brojKupljenihKnjiga}"></td>
					<td class="broj" th:with="result=${itKupovina.brojKupljenihKnjiga * itKupovina.ukupnaCena}" th:text="|${result} rsd|"></td>
					<td></td>
				</tr>
				

	
		
		</table>
		
	</form>
	
	
</body>