<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript" th:src="@{/js/komentariJS.js}"></script>
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<title>Knjiga</title>
	<style>
		table{
			width:70%;
			margin: 0 auto;
		}
		table th, td{
			border:1px solid black;
		}
		td{
			color:	#a65959;
		}
		tr{
			margin:5px;
		}
		th{
			text-align:left;
			margin: 5px;
		}
	</style>
</head>
<body>
	<div style="background-color:#f2f2f2; padding:25px">
		<div style="float:right; margin-top:-17px; margin-right:10px; margin-left:10px">
				<h4 th:text="#{lang.change}" style="margin-bottom:-10px"></h4>
			<ul>
				<li><a href="knjige/menjajLokalizacijuNaSrpski" th:text="#{lang.sr}"></a></li>
				<li><a href="knjige/menjajLokalizacijuNaEngleski" th:text="#{lang.eng}"></a></li>
			</ul>
		</div>
		<a href="/knjizara/" th:text="#{lang.home}"></a><br>
		<a href="/knjizara/login.html" style="float:right;margin:4px" th:text="#{lang.login}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/cart" style="float:right;margin:4px" th:text="#{lang.card}" th:if="${session.prijavljeniKorisnik != null  and session.prijavljeniKorisnik.administrator == false}"></a>
		<a href="/knjizara/register.html" style="float:right; margin:4px" th:text="#{lang.registration}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="korisnici/Logout" style="float:right;margin:4px" th:text="#{lang.logout}" th:unless="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/knjige" th:text="#{lang.books}" th:if="${session.prijavljeniKorisnik != null}"></a><br>
		<a href="/knjizara/addBook.html" th:text="#{lang.addBook}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica/generisiKarticu" th:text="#{lang.requestCard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator != true}"></a><br>
		<a href="/knjizara/Izvestaj" th:text="#{lang.report}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/korisnici" th:text="#{lang.users}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica" th:text="#{lang.lcard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/Komentari" th:text="#{lang.comments}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
	</div>
	
	
	<a href="/knjizara/knjige">Sve Knjige</a><br>	
		<form method="post" action="knjige/Edit" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}" enctype="multipart/form-data">
			<input type="hidden" name="id" th:value="${knjiga.id}"/>

			<table class="forma">
				<caption>Knjiga</caption>
				<tr>
					<td><img th:src="|knjige/getImage/${knjiga.slika}|" width=60px/>&nbsp;</td>
					<td><input type="file" th:value="${knjiga.slika}" name="slika" /></td>
				</tr>
				<tr>
					<th>Naziv:</th><td><input type="text" th:value="${knjiga.naziv}" name="naziv"/>&nbsp;</td>
					<th>ISBN:</th><td><input type="text" th:value="${knjiga.isbn}" name="isbn"/>&nbsp;</td>
				</tr>
				
				<tr>
					<th>Izdavacka Kuca:</th><td><input type="text" th:value="${knjiga.izdavackaKuca}" name="izdavackaKuca"/>&nbsp;</td>
					<th>Autor:</th><td><input type="text" th:value="${knjiga.autor}" name="autor"/>&nbsp;</td>
				</tr>
				
				<tr>
					<th>Opis:</th><td><input type="text" th:value="${knjiga.opis}" name="opis"/>&nbsp;</td>
					<th>Cena:</th><td><input type="number" th:value="${knjiga.cena}" name="cena"/>&nbsp;</td>
				</tr>
				<tr>
					<th>Broj Strana:</th><td><input type="number" th:value="${knjiga.brStrana}" name="brStrana"/>&nbsp;</td>
					<th>Povez:</th><td><input type="text" th:value="${knjiga.povez}" name="povez"/>&nbsp;</td>
				</tr>
				<tr>
					<th>Pismo:</th><td><input type="text" th:value="${knjiga.pismo}" name="pismo"/>&nbsp;</td>
					<th>Jezik:</th><td><input type="text" th:value="${knjiga.jezik}" name="jezik"/>&nbsp;</td>
				</tr>
				<tr>
				<th>Ocena:</th><td><input type="number" th:value="${knjiga.brStrana}" name="brStrana"/>&nbsp;</td>
				<th>Kolicina:</th><td><input type="number" th:value="${knjiga.kolicina}" name="kolicina"/>&nbsp;</td></tr>
				
				<tr>
				<th>DatumOd:</th><td><input type="date" th:value="${knjiga.datumOd}" name="datumOd"/>&nbsp;</td>
				<th>DatumDo:</th><td><input type="date" th:value="${knjiga.datumDo}" name="datumDo"/>&nbsp;</td>
				<th>Popust:</th><td><input type="number" th:value="${knjiga.popust}" name="popust"/>&nbsp;</td>
				
				<td><input type="submit" value="Izmeni"/></td></tr>


			</table>
			
			
			
			
		</form>
		

		<form method="post" action="knjige/Delete" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
			<input type="hidden" name="id" th:value="${knjiga.id}">
			<table class="forma">
				<tr><th></th><td><input type="submit" value="Obriši"/></td></tr>
			</table>
		</form>
		
		<table class="forma" th:if="${session.prijavljeniKorisnik == null or not session.prijavljeniKorisnik.administrator}">
			<caption><h1>Knjige</h1></caption>
			<tr>
				<th>Naziv:</th><td th:text="${knjiga.naziv}">&nbsp;</td>
				<th>ISBN:</th><td th:text="${knjiga.isbn}">&nbsp;</td>
			</tr>
			<tr>
				<th>Izdavacka Kuca:</th><td th:text="${knjiga.izdavackaKuca}">&nbsp;</td>
				<th>Autor:</th><td th:text="${knjiga.autor}">&nbsp;</td>
			</tr>
				
			<tr>
				<th>Opis:</th><td th:text="${knjiga.opis}">&nbsp;</td>
				<th>Cena:</th><td th:text="${knjiga.cena}">&nbsp;</td>
			</tr>
			<tr>
				<th>Broj Strana:</th><td th:text="${knjiga.brStrana}">&nbsp;</td>
				<th>Povez:</th><td th:text="${knjiga.povez}">&nbsp;</td>
			</tr>
			<tr>
				<th>Pismo:</th><td th:text="${knjiga.pismo}" >&nbsp;</td>
				<th>Jezik:</th><td th:text="${knjiga.jezik}">&nbsp;</td>
			</tr>
			
		</table>
		
		<form th:id="${knjiga.id}" th:action="@{/cart/add/} + ${knjiga.id}"  method="get" style="margin-left:150px">
			<input type="hidden" name="id" th:value="${knjiga.id}">
 			<input type="number" th:value="1" name="kolicina"/> 
					
			<button type="submit"> Dodajkorpu</button>
				
		</form>
		
		<hr>
		<hr>
	<!-- 	<button th:onclick="'javascript:komentari();'">Stisni</button> -->
		
		
		<table style="margin-left: 14%;" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == false}">
			<tr><th>Komentarisi</th><td>

					<form method="post" action="Komentari/Komentarisi" name="komentarisanje">
						

						<input type="hidden" name="korisnickoIme" th:value="${session.prijavljeniKorisnik.korisnickoIme}"/>
						<input type="hidden" name="knjigaId" th:value="${knjiga.id}"/>
						<input type="text" name="opis" />
						<input type="number" min="1" max="5" value="3" name="ocena" />
						<input type="submit" th:value="Komentarisi"/>
						<h3 class="greska" th:text="${poruka}"></h3>
						
					</form>
					</td></tr>
		</table>
		
		<div id="komentari"></div>


</body>
</html>