<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<title>Knjige</title>
	<style>
	html, body{
    	height:100%;
    	width:100%;
    	padding:0;
    	margin:0;
	}
	table{
  		font-family: Arial, Helvetica, sans-serif;
  		width: 100%;
  		margin:0 auto;
		}

	#customers td, #customers th {
  		border: 1px solid #ddd;
 		padding: 8px;
	}

	#customers tr:nth-child(even){background-color: #f2f2f2;}

	#customers tr:hover {background-color: #ddd;}

	#customers th {
  		padding-top: 12px;
  		padding-bottom: 12px;
  		text-align: left;
  		background-color: #4CAF50;
  		color: white;
	}
	input[type=number]{
		width:60px;
	}
</style>
</head>
<body>
	<div style="background-color:#f2f2f2; padding:25px">
		<div style="float:right; margin-top:-17px; margin-right:10px; margin-left:10px">
				<h4 th:text="#{lang.change}" style="margin-bottom:-10px"></h4>
			<ul>
				<li><a href="knjige/menjajLokalizacijuNaSrpski" th:text="#{lang.sr}"></a></li>
				<li><a href="knjige/menjajLokalizacijuNaEngleski" th:text="#{lang.eng}"></a></li>
			</ul>
		</div>
		<a href="/knjizara/" th:text="#{lang.home}"></a><br>
		<a href="/knjizara/login.html" style="float:right;margin:4px" th:text="#{lang.login}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/cart" style="float:right;margin:4px" th:text="#{lang.card}" th:if="${session.prijavljeniKorisnik != null  and session.prijavljeniKorisnik.administrator == false}"></a>
		<a href="/knjizara/register.html" style="float:right; margin:4px" th:text="#{lang.registration}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="korisnici/Logout" style="float:right;margin:4px" th:text="#{lang.logout}" th:unless="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/knjige" th:text="#{lang.books}" th:if="${session.prijavljeniKorisnik != null}"></a><br>
		<a href="/knjizara/addBook.html" th:text="#{lang.addBook}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica/generisiKarticu" th:text="#{lang.requestCard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator != true}"></a><br>
		<a href="/knjizara/Izvestaj" th:text="#{lang.report}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/korisnici" th:text="#{lang.users}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica" th:text="#{lang.lcard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/Komentari" th:text="#{lang.comments}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
	</div>

	
	<form method="get" enctype="multipart/form-data">

			<table id="customers">
				<caption th:text="#{knige.naslov}"><b></b></caption>
				<tr>
					<th th:text="#{knjige.slika}"></th>
					<th th:text="#{knjige.naziv}"></th>
					<th>isbn</th>
					<th th:text="#{knjige.kuca}"></th>
					<th th:text="#{knjige.autor}"></th>
					<th th:text="#{knjige.opis}"></th>
					<th th:text="#{knjige.cena}"></th>
					<th th:text="#{knjiga.brojStranica}"></th>
					<th th:text="#{knjiga.tipPoveza}"></th>
					<th th:text="#{knjiga.pismo}"></th>
					<th th:text="#{knjige.jezik}"></th>
					<th th:text="#{knjiga.prosecnaOcena}"></th>
				</tr>
				<tr>
					<th></th>
					<th>
						<select name="naziv">
							<option value="">Izaberi</option>
							<option th:each="knjiga: ${knjige}" th:value="${knjiga.naziv}" th:text="${knjiga.naziv}" th:selected="${#strings.equals(knjiga.id, param.naziv)}"></option>
						</select>
					</th>
					<th>
						<select name="isbn">
							<option value="">Izaberi</option>
							<option th:each="knjiga: ${knjige}" th:value="${knjiga.isbn}" th:text="${knjiga.isbn}" th:selected="${#strings.equals(knjiga.id, param.isbn)}"></option>
						</select>
					</th>
					<th>
						<select name="izdavackaKuca">
							<option value="">Izaberi</option>
							<option th:each="knjiga: ${knjige}" th:value="${knjiga.izdavackaKuca}" th:text="${knjiga.izdavackaKuca}" th:selected="${#strings.equals(knjiga.id, param.izdavackaKuca)}"></option>
						</select>
					</th>
					<th>
						<select name="autor">
							<option value="">Izaberi</option>
							<option th:each="knjiga: ${knjige}" th:value="${knjiga.autor}" th:text="${knjiga.autor}" th:selected="${#strings.equals(knjiga.id, param.autor)}"></option>
						</select>
					</th>
<!--  					<th><input type="text" th:value="${param.autor?: ''}" name="Autor"/></th> -->
 					<th><input type="text" id="opis" name="opis" disabled size="3"></th>


					<th>
						od:<input type="number" th:value="${param.Od?: '1.0'}" min="0" step="0.1" name="cenaOd"/><br/>
						do:<input type="number" th:value="${param.Do?: '100000.0'}" min="0" step="0.1" name="cenaDo"/>
					</th>
					<th><input type="text" id="lname" name="lname" disabled size="3"></th>
					<th><input type="text" id="lname" name="lname" disabled size="3"></th>
					<th><input type="text" id="lname" name="lname" disabled size="3"></th>
					<th>
						<select name="jezik">
							<option value="">Izaberi</option>
							<option th:each="knjiga: ${knjige}" th:value="${knjiga.jezik}" th:text="${knjiga.jezik}" th:selected="${#strings.equals(knjiga.id, param.jezik)}"></option>
						</select>
					</th>
					<th><input type="text" id="lname" name="lname" disabled size="3"></th><br>
					<th><input type="submit" value="Pretraži"/>	
				</tr>

				<tr th:each="knjiga, status: ${knjige}">
					<td><img th:src="|knjige/getImage/${knjiga.slika}|" width=30px/></td>
					<td><a th:href="|Komentari/getKomentare/${knjiga.id}|" th:text="${knjiga.naziv}"></a></td>
					<td th:text="${knjiga.isbn}"></td>
					<td th:text="${knjiga.izdavackaKuca}"></td>
					<td class="broj" th:text="${knjiga.autor}"></td>
					<td th:text="${knjiga.opis}"></td>
					<td class="broj" th:text="|${knjiga.cena} rsd|"></td>
					<td class="broj" th:text="${knjiga.brStrana}"></td>
					<td class="broj" th:text="${knjiga.povez}"></td>
					<td class="broj" th:text="${knjiga.pismo}"></td>
					<td class="broj" th:text="${knjiga.jezik}"></td>
					<td class="broj" th:text="${knjiga.prosecnaOcena}"></td>
					<td></td>
				</tr>
			</table>
		</form>
</body>
</html>