<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/komentariJS.js"></script>
	<title>Loyalty</title>
	
	<style>
	html, body{
    	height:100%;
    	width:100%;
    	padding:0;
    	margin:0;
	}
	table{
  		font-family: Arial, Helvetica, sans-serif;
  		width: 100%;
  		margin:0 auto;
		}

	td, th {
  		border: 1px solid #ddd;
 		padding: 8px;
	}

	tr:nth-child(even){background-color: #f2f2f2;}

	tr:hover {background-color: #ddd;}

	th {
  		padding-top: 12px;
  		padding-bottom: 12px;
  		text-align: left;
  		background-color: #4CAF50;
  		color: white;
	}
	input[type=number]{
		width:60px;
	}
</style>
	
</head>
<body>
	<div style="background-color:#f2f2f2; padding:25px">
		<div style="float:right; margin-top:-17px; margin-right:10px; margin-left:10px">
				<h4 th:text="#{lang.change}" style="margin-bottom:-10px"></h4>
			<ul>
				<li><a href="Komentari/menjajLokalizacijuNaSrpski" th:text="#{lang.sr}"></a></li>
				<li><a href="Komentari/menjajLokalizacijuNaEngleski" th:text="#{lang.eng}"></a></li>
			</ul>
		</div>
		<a href="/knjizara/" th:text="#{lang.home}"></a><br>
		<a href="/knjizara/login.html" style="float:right;margin:4px" th:text="#{lang.login}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/cart" style="float:right;margin:4px" th:text="#{lang.card}" th:if="${session.prijavljeniKorisnik != null  and session.prijavljeniKorisnik.administrator == false}"></a>
		<a href="/knjizara/register.html" style="float:right; margin:4px" th:text="#{lang.registration}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="korisnici/Logout" style="float:right;margin:4px" th:text="#{lang.logout}" th:unless="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/knjige" th:text="#{lang.books}" th:if="${session.prijavljeniKorisnik != null}"></a><br>
		<a href="/knjizara/addBook.html" th:text="#{lang.addBook}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica/generisiKarticu" th:text="#{lang.requestCard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator != true}"></a><br>
		<a href="/knjizara/Izvestaj" th:text="#{lang.report}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/korisnici" th:text="#{lang.users}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica" th:text="#{lang.lcard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/Komentari" th:text="#{lang.comments}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
	</div>


	<form method="POST" action="#" th:action="@{loyaltyKartica/accept}">

		
			<table class="tabela">
				<tr>
				<th></th>
					<th th:text="#{komentari.datum}">Datum</th>
					<th th:text="#{komentari.autor}">Korisnik</th>
					<th th:text="#{komentari.knjiga}">Knjiga</th>
					<th th:text="#{komentari.tekstKomentara}">Opis</th>
					<th th:text="#{komentari.odobri}">Odobri</th>
					<th th:text="#{komentari.odbij}">Odbiji</th>											
				</tr>
				<tr th:each="itKomentar, status: ${komentari}" th:if="${itKomentar.status.name() == 'naCekanju'}">
					<td><input type="hidden" name="id" th:value="${itKomentar.id}" /></td>
					<td th:text="${itKomentar.vremeKomentara}"></td>
					<td th:text="${itKomentar.korisnik.korisnickoIme}"></td>
					<td th:text="${itKomentar.knjiga.naziv}"></td>
					<td th:text="${itKomentar.tekstKomentara}"></td>
					<td><a th:text="#{#{komentari.odobri}}" th:href="|Komentari/accept?id=${itKomentar.id}|">Odobri</a></td>			
					<td><a th:text="#{komentari.odbij}" th:href="|Komentari/reject?id=${itKomentar.id}|">Odbiji</a></td>
					
				</tr>
			</table>
		
	</form>
	
	<div id="komentari"></div>
</body>