<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Registracija</title>
	<style>
		table{
			margin: 0 auto;
		}
		th{
		text-align:left;
		}
	</style>
</head>
<body>

	<div style="background-color:#f2f2f2; padding:25px">
		<div style="float:right; margin-top:-17px; margin-right:10px; margin-left:10px">
				<h4 th:text="#{lang.change}" style="margin-bottom:-10px"></h4>
			<ul>
				<li><a href="korisnici/menjajLokalizacijuNaSrpski" th:text="#{lang.sr}"></a></li>
				<li><a href="korisnici/menjajLokalizacijuNaEngleski" th:text="#{lang.eng}"></a></li>
			</ul>
		</div>
		<a href="/knjizara/" th:text="#{lang.home}"></a><br>
		<a href="/knjizara/login.html" style="float:right;margin:4px" th:text="#{lang.login}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/cart" style="float:right;margin:4px" th:text="#{lang.card}" th:if="${session.prijavljeniKorisnik != null  and session.prijavljeniKorisnik.administrator == false}"></a>
		<a href="/knjizara/register.html" style="float:right; margin:4px" th:text="#{lang.registration}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="korisnici/Logout" style="float:right;margin:4px" th:text="#{lang.logout}" th:unless="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/knjige" th:text="#{lang.books}" th:if="${session.prijavljeniKorisnik != null}"></a><br>
		<a href="/knjizara/addBook.html" th:text="#{lang.addBook}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica/generisiKarticu" th:text="#{lang.requestCard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator != true}"></a><br>
		<a href="/knjizara/Izvestaj" th:text="#{lang.report}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/korisnici" th:text="#{lang.users}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica" th:text="#{lang.lcard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/Komentari" th:text="#{lang.comments}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
	</div>

	<form method="post" action="korisnici/Edit" style="margin-left: 0%; padding: 12%;" >
			<input type="hidden" name="korisnickoIme" th:value="${korisnik.korisnickoIme}"/>
			<table class="forma">
				<caption th:text="#{korisnici.korisnik}">Korisnik</caption>
				<tr><th th:text="#{korisnici.korisnickoIme}">korisničko ime:</th><td readonly th:text="${korisnik.korisnickoIme}"></td></tr>
				<tr><th th:text="#{korisnici.email}">e-mail:</th><td><input type="text" readonly name="eMail" th:value="${korisnik.eMail}"/></td></tr>
				<tr><th th:text="#{korisnici.ime}">Ime:</th><td><input type="text" readonly name="ime" th:value="${korisnik.ime}"/></td></tr>
				<tr><th th:text="#{korisnici.prezime}">Prezime:</th><td><input type="text" readonly name="prezime" th:value="${korisnik.prezime}"/></td></tr>
				<tr><th th:text="#{korisnici.adresa}">Adresa:</th><td><input type="text" readonly name="adresa" th:value="${korisnik.adresa}"/></td></tr>
				<tr>
				<th>pol:</th>
					<td>
						<input type="radio" name="pol" value="muški" checked/><span>muški</span>&nbsp;
						<input type="radio" name="pol" value="ženski"/><span>ženski</span>
					</td>
				</tr>
				<tr><th th:text="#{korisnici.telefon}">Broj telefona:</th><td><input type="text" readonly name="brojTelefona" th:value="${korisnik.broj}"/></td></tr>
				<tr><th th:text="#{korisnici.datumRegistracije}">Datum registracije:</th><td><input type="text" readonly name="datum" th:value="${korisnik.datum}"/></td></tr>
				<tr><th th:text="#{korisnici.datumRegistracije}">Datum registracije:</th><td><input type="text" readonly name="datumRegistracije" th:value="${korisnik.datumRegistracije}"/></td></tr>
				
				
				<tr th:if="${session.prijavljeniKorisnik.administrator and session.prijavljeniKorisnik != korisnik and korisnik.blokiran != true}"><th>Admin:</th><td><input type="checkbox" name="administrator" th:checked="${korisnik.administrator}"/></td></tr>
				<tr th:if="${session.prijavljeniKorisnik.administrator and session.prijavljeniKorisnik != korisnik and korisnik.administrator == false}"><th>Blokiran:</th><td th:if="${korisnik.administrator == false}"><input type="checkbox" name="blokiran" th:checked="${korisnik.blokiran}"/></td></tr>
				
				<tr th:if="${session.prijavljeniKorisnik.administrator and session.prijavljeniKorisnik != korisnik and session.prijavljeniKorisnik.administrator }"><th></th><td><input type="submit" th:value="#{btn.izmeni}"/></td></tr>
			</table>
		</form> 
		
		<table id="tabela">
			<tr style="margin:20px;" >
				<th style="margin-right:20px; padding:20px;  border:1px solid black;" th:text="#{stavkakorpe.datumKupovine}" ></th>
				<th  style="margin-right:20px; padding:20px;  border:1px solid black" th:text="#{korisnickakorpa.ukupnaCena}"></th>

			</tr>

				<tr th:each="kupovina, status: ${kupovine}" >
						<td><a th:href="|kupovine/Details?id=${kupovina.id}|" th:text="${kupovina.datumKupovine}" style="margin-right:20px; padding:20px; border:1px solid black;"></a></td>
						<td th:text="${kupovina.ukupnaCena}" style="margin-right:20px; padding:20px;  border:1px solid black"></td>

				</tr>
	
		
		</table>
		

		
		<form action="cart/order" method ="POST">
		        <div class="card" th:each="product : ${products.entrySet()}">
		            <h3 th:text="${product.getKey().getNaziv()}"></h3>
					<p th:text="${product.getKey().getAutor()}"></p>
		            <h4 th:text="${product.getValue()}"></h4>
		            <h4 th:text="${product.getKey().getCena()}"></h4>
		            <input type="hidden" name="id" th:value="${product.getKey().getId()}"/>
		            
		            
		            <a th:href="@{'/cart/remove/{id}'(id=${product.getKey().getId()})}" class="col-md-1">
		                <button type="button" class="btn btn-primary" th:text="Ukloni"></button>
		            </a>
		                
		                <br>
		        </div>
    		</form>
</body>
</html>