<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<base th:href="@{/}">
	<meta charset="UTF-8">
	<title>Pojedinacna kupovina</title>
	<link rel="stylesheet" type="text/css" href="css/TabelaKnjiga.css"/>
</head>
<body>

	<div style="background-color:#f2f2f2; padding:25px">
		<div style="float:right; margin-top:-17px; margin-right:10px; margin-left:10px">
				<h4 th:text="#{lang.change}" style="margin-bottom:-10px"></h4>
			<ul>
				<li><a href="kupovine/menjajLokalizacijuNaSrpski" th:text="#{lang.sr}"></a></li>
				<li><a href="kupovine/menjajLokalizacijuNaEngleski" th:text="#{lang.eng}"></a></li>
			</ul>
		</div>
		<a href="/knjizara/" th:text="#{lang.home}"></a><br>
		<a href="/knjizara/login.html" style="float:right;margin:4px" th:text="#{lang.login}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/cart" style="float:right;margin:4px" th:text="#{lang.card}" th:if="${session.prijavljeniKorisnik != null  and session.prijavljeniKorisnik.administrator == false}"></a>
		<a href="/knjizara/register.html" style="float:right; margin:4px" th:text="#{lang.registration}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="korisnici/Logout" style="float:right;margin:4px" th:text="#{lang.logout}" th:unless="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/knjige" th:text="#{lang.books}" th:if="${session.prijavljeniKorisnik != null}"></a><br>
		<a href="/knjizara/addBook.html" th:text="#{lang.addBook}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica/generisiKarticu" th:text="#{lang.requestCard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator != true}"></a><br>
		<a href="/knjizara/Izvestaj" th:text="#{lang.report}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/korisnici" th:text="#{lang.users}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica" th:text="#{lang.lcard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/Komentari" th:text="#{lang.comments}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
	</div>

	<form action="" th:if="${session.prijavljeniKorisnik != null}">
		<table class="tabela" border="1">
		
			<caption>Kupovina</caption>
			
			<tr><th>Ukupna cena:</th><td><input type="number" th:value="${kupovina.ukupnaCena}" name="ukupnaCena" readonly/></td></tr>
			<tr><th>Datum Kupovine:</th><td><input type="date" th:value="${#temporals.format(kupovina.datumKupovine, 'yyyy-MM-dd')}" name="datumKupovine" readonly/></td></tr>
			<tr><th>Musterija oznaka:</th><td><input type="text" th:value="${kupovina.musterija.korisnickoIme}" name="musterijaOznaka" readonly/></td></tr>
			<tr><th>Broj Kupljenih knjiga</th><td><input type="number" th:value="${kupovina.brojKupljenihKnjiga}" name="brojKupljenihKnjiga" readonly/></td></tr>
			<tr><th>Naziv Knjige</th><td><input type="text" th:value="${kupovina.knjiga.naziv}" readonly/></td></tr>	
		
		
		</table>
	</form>

			
</body>
</html>
