<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<title>Loyalty</title>
	
	<style>
	html, body{
    	height:100%;
    	width:100%;
    	padding:0;
    	margin:0;
	}
	table{
  		font-family: Arial, Helvetica, sans-serif;
  		width: 100%;
  		margin:0 auto;
		}

	td, th {
  		border: 1px solid #ddd;
 		padding: 8px;
	}

	tr:nth-child(even){background-color: #f2f2f2;}

	tr:hover {background-color: #ddd;}

	th {
  		padding-top: 12px;
  		padding-bottom: 12px;
  		text-align: left;
  		background-color: #4CAF50;
  		color: white;
	}
	input[type=number]{
		width:60px;
	}
</style>
	
</head>
<body>

	<div style="background-color:#f2f2f2; padding:25px">
		<div style="float:right; margin-top:-17px; margin-right:10px; margin-left:10px">
				<h4 th:text="#{lang.change}" style="margin-bottom:-10px"></h4>
			<ul>
				<li><a href="index/menjajLokalizacijuNaSrpski" th:text="#{lang.sr}"></a></li>
				<li><a href="index/menjajLokalizacijuNaEngleski" th:text="#{lang.eng}"></a></li>
			</ul>
		</div>
		<a href="/knjizara/" th:text="#{lang.home}"></a><br>
		<a href="/knjizara/login.html" style="float:right;margin:4px" th:text="#{lang.login}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/cart" style="float:right;margin:4px" th:text="#{lang.card}" th:if="${session.prijavljeniKorisnik != null  and session.prijavljeniKorisnik.administrator == false}"></a>
		<a href="/knjizara/register.html" style="float:right; margin:4px" th:text="#{lang.registration}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="korisnici/Logout" style="float:right;margin:4px" th:text="#{lang.logout}" th:unless="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/knjige" th:text="#{lang.books}" th:if="${session.prijavljeniKorisnik != null}"></a><br>
		<a href="/knjizara/addBook.html" th:text="#{lang.addBook}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica/generisiKarticu" th:text="#{lang.requestCard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator != true}"></a><br>
		<a href="/knjizara/Izvestaj" th:text="#{lang.report}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/korisnici" th:text="#{lang.users}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica" th:text="#{lang.lcard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/Komentari" th:text="#{lang.comments}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
	</div>

	<form method="POST" action="#" th:action="@{loyaltyKartica/accept}">

		
		<table id="tabela">
			<tr>
				<th>Id</th>
				<th>Popust</th>
				<th>Broj Poena</th>
				<th>Vlasnik</th>
				<th >Status</th>
				<th>Akcija</th>
			</tr>

				<tr th:each="loyaltyKartica, status: ${loyaltyKartice}" th:if="${!loyaltyKartica.status}">
						<td><a th:href="|LoyaltyKartice/Details?id=${loyaltyKartica.id}|"th:text="${loyaltyKartica.id}"></a></td>
						<td th:text="${loyaltyKartica.popust}"></td>
						<td class="broj" th:text="${loyaltyKartica.brPoena}"></td>
						<td th:text="${loyaltyKartica.vlasnik.korisnickoIme}"></td>
						<td th:text="${loyaltyKartica.status}"></td>
						<td>
							<input type="hidden" th:value="${loyaltyKartica.vlasnik.id}" name="korisnikId">
							<input class="savebtn" type="submit" value="Odbij" th:formaction="@{loyaltyKartica/delete}">
							<input type="submit" value="Prihvati"/>
							
						</td>
				</tr>
	
		
		</table>
		
	</form>
</body>