<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base href="">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<title>Registracija</title>
	<style>
		table{
			margin: 0 auto;
		}
		th{
		text-align:left;
		}
	</style>
</head>
<body>

	<div style="background-color:#f2f2f2; padding:25px">
		<div style="float:right; margin-top:-17px; margin-right:10px; margin-left:10px">
				<h4 th:text="#{lang.change}" style="margin-bottom:-10px"></h4>
			<ul>
				<li><a href="index/menjajLokalizacijuNaSrpski" th:text="#{lang.sr}"></a></li>
				<li><a href="index/menjajLokalizacijuNaEngleski" th:text="#{lang.eng}"></a></li>
			</ul>
		</div>
		<a href="/knjizara/" th:text="#{lang.home}"></a><br>
		<a href="/knjizara/login.html" style="float:right;margin:4px; margin-top:-16px" th:text="#{lang.login}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/cart" style="float:right;margin:4px" th:text="#{lang.card}" th:if="${session.prijavljeniKorisnik != null  and session.prijavljeniKorisnik.administrator == false}"></a>
		<a href="/knjizara/register.html" style="float:right; margin:4px; margin-top:-16px" th:text="#{lang.registration}" th:if="${session.prijavljeniKorisnik == null}"></a>
		<a href="korisnici/Logout" style="float:right;margin:4px; margin-top:-16px" th:text="#{lang.logout}" th:unless="${session.prijavljeniKorisnik == null}"></a>
		<a href="/knjizara/knjige" th:text="#{lang.books}" th:if="${session.prijavljeniKorisnik != null}"></a><br>
		<a href="/knjizara/addBook.html" th:text="#{lang.addBook}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica/generisiKarticu" th:text="#{lang.requestCard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator != true}"></a><br>
		<a href="/knjizara/Izvestaj" th:text="#{lang.report}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/korisnici" th:text="#{lang.users}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/loyaltyKartica" th:text="#{lang.lcard}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
		<a href="/knjizara/Komentari" th:text="#{lang.comments}" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"></a><br>
	</div>
GRESKAAA
	<form method="post" action="korisnici/Register">
		<table class="forma">
			<caption><h2>Registracijaaa</h2></caption>
			<tr><th>korisničko ime:</th><td><input type="text" name="korisnickoIme"/></td></tr>
			<tr><th>lozinka:</th><td><input type="password" name="lozinka"/></td></tr>
			<tr><th>ponovljena lozinka:</th><td><input type="password" name="ponovljenaLozinka"/></td></tr>
			<tr><th>e-mail:</th><td><input type="text" name="eMail"/></td></tr>
			<tr><th>ime:</th><td><input type="text" name="ime"/></td></tr>
			<tr><th>prezime:</th><td><input type="text" name="prezime"/></td></tr>
			<tr>
				<th>pol:</th>
				<td>
					<input type="radio" name="pol" value="muški" checked/><span>muški</span>&nbsp;
					<input type="radio" name="pol" value="ženski"/><span>ženski</span>
				</td>
			</tr>
						<tr>
				<th>Administrator:</th>
				<td>
					<input type="radio" name="administrator" value="0" id="korisnik"checked/><span>Korisnik</span>&nbsp;
					<input type="radio" name="administrator" value="1" id="admin"/><span>Administrator</span>
				</td>
			</tr>
			<tr><th>Datum Rodjenja:</th><td><input type="date" id="datum" name="datum"></td></tr>
			<tr><th>Adresa:</th><td><input type="text" name="adresa"/></td></tr>
			<tr><th>Broj telefona:</th><td><input type="text" name="broj"/></td></tr>
			<tr><th></th><td><input type="submit" value="Registracija"/></td></tr>
		</table>
	</form>
	<p class="greska"></p>
</body>
</html>